body {
    height: 100vh;
    margin: 0px;
}


#container {

    border-radius: 5px;
    background-color: #7efff5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 7px;
    flex-direction: row;
    padding-bottom: 25px;



}

#machine {
    max-width: 50%;
    

}

#info {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width:670px) {

    #container {
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }



}